@font-face {
    font-family: 'yekan';
    src: url(./assets/font/Yekan.ttf);
}
@font-face {
    font-family: 'lalezar';
    src: url(./assets/font/Lalezar.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
